body {
  background-color: #F9F7F5;
  font-family: 'Open Sans', Arial, sans-serif;
}

.container {
  margin:20px 280px;
  background-color: #FFFFFF;
  max-width: 500px;
  height: 110px;
  padding: 15px 0;
  }

.section-container1 {
  margin:20px 280px;
  background-color: #FFFFFF;
  max-width: 440px;
  height:300px;
  padding:10px 30px 0 30px;
}

.section-container2 {
  margin:20px 280px 60px;
  background-color: #FFFFFF;
  max-width: 440px;
  padding:10px 30px 20px 30px;
}

h1, .tagline {
  text-align: center;
}

h2 {
  text-align: left;
  margin: 0px 0px 20px 0;
  padding: 15px 0;
  border-bottom-color: #CF975D;
  border-left-color:#ffffff;
  border-right-color: #ffffff;
  border-top-color: #ffffff;
  border-bottom-width:2px;
  border-style:solid;
}

h2 .city-description {
  font-size: 14px;
  margin: 0 0 0 20px;
}

img {
  width: 50px;
  max-width: 100%;
  margin:0 10px 10px 0;
}

a {
  color: purple;
}

a:hover {
  color: orange;
  text-decoration: underline;
}
